<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
<script src="/js/my.js"></script>
<div class="container-sm" data-bs-theme="dark"> 
    <div class="row">
        <div class="col">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for items.." title="Type in a name"> 
        </div>
      </div>
 </div> 

 {{  table | safe }}

 